# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
.venv/
venv/
env/
ENV/


# data files
PreProcessed/
tide_gauge/
Experiment2/
*_data.csv
*.png
Forecast/
Weather/
Tide/


# Examples
IEEE_oceans/
INHC_paper/
#Met_Eireann_implementation/
*testing.ipynb
event_driver_clustering/


# secret keys
.env

#cache
contextily_cache/
